############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json
my-app-name/types/generated/contentTypes.d.ts
my-app-name/yarn.lock
my-app-name/.editorconfig
my-app-name/.env.example
my-app-name/.eslintignore
my-app-name/.eslintrc
my-app-name/.gitignore
my-app-name/favicon.png
my-app-name/jsconfig.json
my-app-name/package.json
my-app-name/README.md
my-app-name/config/admin.js
my-app-name/config/api.js
my-app-name/config/database.js
my-app-name/config/middlewares.js
my-app-name/config/server.js
my-app-name/database/migrations/.gitkeep
my-app-name/public/robots.txt
my-app-name/public/uploads/.gitkeep
my-app-name/src/index.js
my-app-name/src/admin/app.example.js
my-app-name/src/admin/webpack.config.example.js
my-app-name/src/api/.gitkeep
my-app-name/src/api/test/content-types/test/schema.json
my-app-name/src/api/test/controllers/test.js
my-app-name/src/api/test/routes/test.js
my-app-name/src/api/test/services/test.js
my-app-name/src/extensions/.gitkeep
my-app-name/types/generated/components.d.ts
my-app-name/public/uploads/.gitkeep
